*{
    font-weight: bolder;
}
body{
    background-image: linear-gradient(to right,blue,brown);
}
#h_1{

    position:sticky;
    background-color:#F5F5F5;
    font-size: 5vh;
    color:#125637;
    margin-bottom: 4vh;
    margin-top: 3vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4rem;body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image:linear-gradient(to right,black,rgb(168, 60, 155), white);
}

.container {
    perspective: 1000px;
    width: 27vw;
    height: 37vh;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.card.rotate {
    transform: rotateY(540deg);


}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #155090;
    color: white;
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: #007bff;
    color: white;
    text-align: center; /* Center text horizontally */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend{
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 1vw;
    bottom: 4vh;
}
.signup, .login {
    position: relative;
    top: 2rem; /* Adjust the top position as needed */

}
.submit {
    position: relative;
    left: 0; /* Reset the left position */
    top: 1rem; /* Adjust the top position as needed */
    padding: 3px 4px;
    margin: 3px;
}

/* Similarly, adjust the positions of other elements as needed */
.end {
    position: relative;
    top: 2rem; /* Adjust the top position as needed */
    padding: 3px 4px;
    margin: 3px;
}
    padding: 2vh 4vh 2vh 4vh;

}

.cont{
    position: absolute;
    top: 25vh;
    left: 6.8vw;
    border: solid rgb(15, 95, 119) 0.4rem;
    border-radius: 5px;
    background-color: white;

}

input[type="button"]{
    height: 60px;
    width: 90px;
    border: solid rgb(106, 240, 243) ;

}

input[type="text"]{
    height: 60px;
    width: 367px;
    font-size: 30px;
}
input[type="button"]:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 16px;
    transition-duration:500ms;
    border-radius: 6px;
}
@media (max-width: 412px) {
    .cont {
        top: 30vh;

    }

    input[type="text"] {
        width: 82vw;
    }

    input[type="button"] {
        height: 50px;
        width: 20vw;
        font-size: 20px;
    }
}
