html{
    scroll-behavior: smooth;
}
  
#h_1{
    background-color: #00308F;
    font-size: 40px;
    color:#4FFFB0;

}
.h_2{
    position: sticky;
    top: 0;
    background-color: #1f1731;
    z-index: 5;

}
.h_3{
    display: inline;
    position: relative;
    left: 900px;
}

.h_3:hover{
    cursor:pointer;
}
.h_4{
    background-color: #edeade;
}
.name{
    position: relative;
    font-family:cursive;
    font-style:italic;
    font-size:40px;
    letter-spacing: 2px;
    color: #9689f5;
}
.home{
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
.contact{
    position: relative;
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
.download{
    position: relative;
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
#p_i,.my_sk,#language,.activities,.objective,.certifications,.projects{
    position: relative;
    left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    font-size: 24px;
    display: inline-block;
    padding: 5px;

}
#p_i:hover,.my_sk:hover,#language:hover,.activities:hover,.objective:hover,.certifications:hover,.projects:hover{
    color: #001e35;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#end{
    background-color:yellow;
    padding: 7px ;
}
