html{
    scroll-behavior: smooth;
}
  
#h_1{
    background-color: #00308F;
    font-size: 6vh;
    color:#4FFFB0;

}html{
    scroll-behavior: smooth;
}
  
#h_1{
    background-color: #00308F;
    font-size: 6vh;
    color:#4FFFB0;

}
.h_2{
    position: sticky;
    top: 0vh;
    background-color: #1f1731;
    z-index: 5;
    

}
.h_3{
    display: inline;
}

.h_3:hover{
    cursor:pointer;
}
.h_4{
    background-color: #dbb583;
    font-size: 2vw;
}
.name{
    position: relative;
    font-family:cursive;
    font-style:italic;
    font-size:4vw;
    letter-spacing:0.7vw;
    color: #9689f5;
}
.home{
    display: inline;
    border: 2px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #818181;
    color: black;
    border-radius: 10px;
    margin: 0.6vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size:3vw;
    position: relative;
    left: 13vw;
    text-decoration: none;
}
.home:hover,.contact:hover,.download:hover{
    background-color:#1D1D1D;
    color: rgb(173, 172, 172);

}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration:dashed;
}
.contact{
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #818181;
    color: black;
    border-radius: 10px;
    font-size:3vw;
    position: relative;
    left: 13vw;
    margin: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.download{
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #818181;
    color: black;
    border-radius: 10px;
    font-size:3vw;
    position: relative;
    left: 13vw;
    margin: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#p_i,.my_sk,#language,.activities,.objective,.certifications,.projects,.webpages{
    position: relative;
    left: 4vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    font-size: 2vw;
    display: inline-block;
    padding: 5px;
    word-wrap: break-word;
    max-width: 80%; /* Adjust the percentage as needed */
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding or other styling as desired */
   
}
#p_i:hover,.my_sk:hover,#language:hover,.activities:hover,.objective:hover,.certifications:hover,.projects:hover,.webpages:hover{
    color: #001e35;
    cursor: pointer;
    background-color: #1D1D1D;
    color: mintcream;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#end{
    background-color:yellow;
    padding: 7px ;
}

.h_2{
    position: sticky;
    top: 0vh;
    background-color: #1f1731;
    z-index: 5;

}
.h_3{
    display: inline;
    position: relative;
    left: 105vh;
}

.h_3:hover{
    cursor:pointer;
}
.h_4{
    background-color: #dbb583;
}
.name{
    position: relative;
    font-family:cursive;
    font-style:italic;
    font-size:6vh;
    letter-spacing: 2px;
    color: #9689f5;
}
.home{
    display: inline;
    border: 2px solid white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
.contact{
    position: relative;
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
.download{
    position: relative;
    display: inline;
    border: 2px solid white;
    box-shadow:rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    background-color: #f3eae8;
    position: relative;
    bottom: 5px;
    color: #59559c;
    border-radius: 10px;
    margin-left: 5PX;
}
#p_i,.my_sk,#language,.activities,.objective,.certifications,.projects,.webpages{
    position: relative;
    left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    font-size: 24px;
    display: inline-block;
    padding: 5px;
    word-wrap: break-word;
    max-width: 80%; /* Adjust the percentage as needed */
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding or other styling as desired */

}
#p_i:hover,.my_sk:hover,#language:hover,.activities:hover,.objective:hover,.certifications:hover,.projects:hover,.webpages:hover{
    color: #001e35;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#end{
    background-color:yellow;
    padding: 7px ;
}
