html{
    scroll-behavior: smooth;
}
  
#h_1{
    position:sticky;
    background-color:#F5F5F5;
    font-size: 5vh;
    color:#125637;
    margin-bottom: 4vh;
    margin-top: 3vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h_2{

    position: sticky;
    top: 4vh;
    background-color: #F5F5F5;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight:500;
    margin-bottom: 3vh;
    
 
}
.h_3{
    display: inline;
}

.h_3:hover{
    cursor:pointer;
}
.h_4{
    background-color: whitesmoke; /*background-color: #B6B6B4;*/
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    animation: anim 5s linear infinite;
}
.name{
    position: relative;
    font-family:cursive;
    font-style:italic;
    font-size:4vw;
    letter-spacing:0.7vw;
    color: #9689f5;
}
.home{
    display: inline;
    border: 0.15vw solid white;
    background-color:#3C4748;
    color: white;
    border-radius: 10px;
    margin: 0.6vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size:3vw;
    position: relative;
    left: 13vw;
    text-decoration: none;
}
.home:hover,.contact:hover,.download:hover{
    background-color: #818181;
    color: black;

}
a:link {
    text-decoration: none;
    
}
a:hover {
    text-decoration:dashed;
}
.contact{
    display: inline;
    border: 0.15vw solid white;
    background-color:#3C4748;
    color:white;
    border-radius: 10px;
    font-size:3vw;
    position: relative;
    left: 13vw;
    margin: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.download{
    display: inline;
    border: 0.15vw solid white;
    background-color:#3C4748;
    color: white;
    border-radius: 10px;
    font-size:3vw;
    position: relative;
    left: 13vw;
    margin: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#p_i,.my_sk,#language,.activities,.objective,.certifications,.projects,.webpages{
    position: relative;
    left: 6vw;
    font-family: cursive;
    font-weight: 50;
    font-size: 4vw;
    display: inline-block;
    padding: 5px;
    max-width: 80%; /* Adjust the percentage as needed */
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding or other styling as desired */
    align-content: center;
    
}
#p_i:hover,.my_sk:hover,#language:hover,.activities:hover,.objective:hover,.certifications:hover,.projects:hover,.webpages:hover{
    cursor: pointer;
 
    color: mintcream;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: anim 5s linear infinite;
}
#end{
    background-color:yellow; 
    padding: 7px ;
}
@keyframes anim{
    0%{
        color:rgba(33, 11, 173, 0);
    }
    20%{
        color: rgb(56, 7, 200);
    }
    40%{
        color: rgb(251, 0, 0);
    }
    60%{
        color: rgb(39, 104, 21);
    }
    100%{
        color: rgba(33, 11, 173, 0);
    }
}
